// PRIMARY COLORS
$color-blue-intro: hsl(217, 28%, 15%);
$color-blue-main-background: hsl(218, 28%, 13%);
$color-blue-footer-background: hsl(216, 53%, 9%);
$color-blue-testimonials: hsl(219, 30%, 18%);

// ACCENT COLORS
$color-cyan: hsl(176, 68%, 64%);
$color-blue: hsl(198, 60%, 50%);
$color-light-red: hsl(0, 100%, 63%);

// NEUTRAL
$color-white: hsl(0, 0%, 100%);


// FONT VARIABLES
$font-primary: 'Raleway',
'sans-serif';

$font-secondary: 'Open Sans', 'sans-serif';



//Padding


// GENERAL
@mixin transition-basic {
    transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;


    // @media only screen and (max-width: $bp-large) {
    //     font-size: 50%;
    // }

    // @media only screen and (max-width: $bp-medium) {
    //     font-size: 40%;
    // }

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 35%;
    // }

}

body {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    overflow-x: hidden;
    // max-width: 1140px;
    background-color: $color-blue-main-background;
    // min-height: 100%;

}

h1 {
    font-size: 3.5rem;
   
    margin-bottom: 0;
    
}

small {
    color: $color-light-red;
    margin-left: 1rem;
}
// CALL TO ACTION BUTTONS
.cta {
    background: linear-gradient(90deg, rgba(37, 230, 211, 1) 0%, rgba(26, 134, 187, 1) 100%);
    width: 25rem;
    height: 6rem;
    border:none;
    border-radius: 10rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

    &:hover,
    &:active {
        background: $color-cyan;


    }
}











//FOOTER
.footer {
    height: 45vh;
    background-color: $color-blue-footer-background;
    color: $color-white;

    &__container {
        display: flex;
        flex-direction: row;
        gap: 16rem;
        align-items: center;
        justify-content: center;
        width: 75%;
        padding-top: 22rem;
        // border: 1px solid red;
        margin: 0 auto 0 auto;
        align-items: baseline;
        
    }

    &__col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30rem;
               
        
    }

    &__col-2 {
        // border: 1px solid red;
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__phone {
        margin-bottom: 1rem;    
    }

    &__logo-small {
        width: 40%;
    }

    &__col-5 {
        display: flex;
        justify-content: space-evenly;
        width: 15rem;
        // border: 1px solid red;
    }

    &__list {
        list-style: none;
        cursor: pointer;

    }

    &__item {
        display: inline-block;
        padding: 2.2rem;
        font-size: 1.9rem;
        padding-top: 1rem;
        


    }

    &__list-item:not(:last-child) {
        padding-bottom: 1rem;
    }

         

    
    
}





//ICONS

i.fab:nth-child(1),
i.fab:nth-child(2),
i.fab:nth-child(3)
{
    cursor: pointer;
    &:hover {
        color: $color-cyan;
    }
   }
   
   .fa, .fas {
    margin-right: 1rem;
    }

    .fa,
.far,
.fas {
 font-family:"Font Awesome 5 Free";
 margin-right: 1rem;
}

