// PRIMARY COLORS
$color-blue-intro: hsl(217, 28%, 15%);
$color-blue-main-background: hsl(218, 28%, 13%);
$color-blue-footer-background: hsl(216, 53%, 9%);
$color-blue-testimonials: hsl(219, 30%, 18%);

// ACCENT COLORS
$color-cyan: hsl(176, 68%, 64%);
$color-blue: hsl(198, 60%, 50%);
$color-light-red: hsl(0, 100%, 63%);

// NEUTRAL
$color-white: hsl(0, 0%, 100%);


// FONT VARIABLES
$font-primary: 'Raleway',
'sans-serif';

$font-secondary: 'Open Sans', 'sans-serif';



//Padding


// GENERAL
@mixin transition-basic {
    transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;


    // @media only screen and (max-width: $bp-large) {
    //     font-size: 50%;
    // }

    // @media only screen and (max-width: $bp-medium) {
    //     font-size: 40%;
    // }

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 35%;
    // }

}

body {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    overflow-x: hidden;
    // max-width: 1140px;
    background-color: $color-blue-main-background;

    // min-height: 100%;

}



// SECTION HOW-TO

.how-to {
    // background-color: orangered;
    width: 75vw;
    height: 60vh;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border: 1px solid white;

    &__text-container {
        // background-color: orangered;
        grid-column: 2 / -1;
        display: flex;
        flex-direction: column;
        padding: 5rem;
        color: $color-white;
    }

    &__img {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    &__h1 {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        
    }

    &__description {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    &__cta {
        grid-column: 2 / 2; 
        grid-row: 1 / 1;
    }
    
}


