//FOOTER
.footer {
    height: auto;
    background-color: $color-blue-footer-background;
    color: $color-white;

    
    

    &__outer-container {
        
        width: 75%;
        display: flex;
        margin: 0 auto 0 auto;
        position: relative;
    }
    

    &__container {
        display: flex;
        flex-direction: row;
        gap: 16rem;
        align-items: center;
        justify-content: center;
        width: 75%;
        padding-top: 26rem;
        // border: 1px solid red;
        margin: 0 auto 0 auto;
        align-items: baseline;
        position: relative;
        padding-bottom: 10rem;
        

        @media only screen and (max-width: $bp-largest) {
            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 1rem;
            padding-bottom: 0;
        }

        @media only screen and (max-width: $bp-small) {
         
            padding-top: 36rem;
            
        }
        
        
    }

    &__col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30rem;
               
        
    }

    &__col-2 {
        // border: 1px solid red;
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__phone {
        margin-bottom: 1rem;    
    }

    &__logo {
    position: absolute;  
    top:20rem;  
    left: 3rem;

    @media only screen and (max-width: $bp-largest) {
            
        left: 0;
    }

    @media only screen and (max-width: $bp-small) {
            
        top: 28rem;
    }

    
         
        
    }

    &__logo-medium {
        width: 13rem;
        
       
    }

    

    &__col-5 {
        display: flex;
        justify-content: space-evenly;
        width: 15rem;
        
        
        @media only screen and (max-width: $bp-largest) {
            
            margin: 3rem auto 3rem auto;
        }
    }

    &__list {
        list-style: none;
        cursor: pointer;

    }

    &__item {
        display: inline-block;
        padding: 2.2rem;
        font-size: 1.9rem;
        padding-top: 1rem;
        


    }

    &__list-item:not(:last-child) {
        padding-bottom: 1rem;
    }

         

    
    
}





//ICONS

i.fab:nth-child(1),
i.fab:nth-child(2),
i.fab:nth-child(3)
{
    cursor: pointer;
    &:hover {
        color: $color-cyan;
    }
   }
   
   .fa, .fas {
    margin-right: 1rem;
    }

    .fa,
.far,
.fas {
 font-family:"Font Awesome 5 Free";
 margin-right: 1rem;
}

